<h1>Make a new listing</h1>

<%= form_with(model: @listing, local: true) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>


	<%= render partial: "form_partials/#{@listing.current_step}", locals: {f: f} %>




	<h2>Confirmation</h2>
	<p>
	</p>
	<%= f.submit "Create Listing" %>
<% end %>