.card {
	border: none!important;
}
.card img {
	border-radius: 20px;
}

.listing_wrapper a {
	color: #444;
	padding: 15px;
}

.listing_wrapper a:hover {
	text-decoration: none;
	color: #444;
}

.card-body { 
	border: none;
}
