
.images {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	grid-gap: 15px;
}

.images img:first-child {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.images img {
	width: 100%;
	height: auto;
}

.listings_show_wrapper ul {
	list-style: none;
}